#campo-btn{
    width: 200px;   
    margin-left: auto; margin-right: auto;
    text-align: center;
    color: blueviolet;
}
    

#btn{
    width: 100%;
    height: 45px;
    border-radius: 100px ;
    border-style: solid;
    border-color: rgba(34, 28, 20, 0.705);
    background-color: #fdfdfd;
}   


#btn:hover{
    border-color: blueviolet;
}


.tema-default{
    background: white;
}
.tema-black{
    background-color: black;
}